*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    background-color: rgb(194, 168, 52);
    font-family: sans-serif;
}
.score{
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.score h2{
    font-size: 30px;
}
.score p{
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
.match{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.winner{
    text-align: center;
    font-size: 40px;
}
.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.match button{
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    margin: 25px;
    font-size: 20px;
    background-color: rgb(82, 165, 165);
    border-radius: 5px;
}